@import './font-awesome';

@mixin cr-badge-spec($color, $icon) {
  border-color: $color;
  color: $color;

  a {
    color: $color;

    i {
      @extend #{$icon};
    }
  }
}

@mixin cr-badge {
  display: inline-flex;
  align-items: center;

  margin: 0 .25em 0 0;
  padding: 0 .25em 0 0;

  font-weight: bold;

  a {
    font-weight: bold;
    text-decoration: none;
    outline: none;
  }

  border: 1px solid #222; // stub
  border-radius: 3px;
  background-color: #FEFEFE;

  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .2);

  &:last-child {
    margin-right: 0;
  }

  i {
    @extend .fa;
    @extend .fa-fw;
  }

  &.added-in-spec {
    @include cr-badge-spec(#7473CA, '.fa-bolt');
  }

  &.removed-spec {
    @include cr-badge-spec(#8a6d3b, '.fa-ban');
  }

  &.deprecated-spec {
    @include cr-badge-spec(#f90, '.fa-warning');
  }

  &.latest-spec a {
    display: flex;
  }
}

@mixin cr-badge-root($sel: "li.badge") {
  display: inline-flex;
  // align-items: center;
  margin-left: .5em;
  font-family: sans-serif;
  font-size: .9em;
  line-height: 1.15;

  list-style: none;

  &.only-latest {
    > #{$sel} {
      &.deprecated-spec, &.removed-spec {
        display: none;
      }
    }
  }

  &:not(.only-latest), &.simple {
    > #{$sel}.latest-spec {
      display: none;
    }
  }

  &.simple {
    > #{$sel} {
      a:after {
        display: none;
      }
    }
  }
}

@mixin cr-badge-decoration($sel: "li.badge") {
  #{$sel} {
    a {
      display: inline-flex;
      align-items: baseline;
      justify-content: center;

      i {
        display: inline-flex;
        align-items: baseline;
        justify-content: center;
        order: -1;
      }

      &:after, &:before {
        display: block;
        word-break: keep-all; // ???
      }
    }

    &:not(.nosuffix) {
      &.removed-spec {
        a:after {
          content: "で削除";
        }
      }

      &.deprecated-spec {
        a:after {
          content: "で非推奨";
        }
      }
    }
  }

  #{$sel}[data-cpp-version="11"] {
    & a:before, & ~ #{$sel}.latest-spec:not(.noprefix) a:before {
      content: "C++11";
    }
  }
  #{$sel}[data-cpp-version="14"] {
    & a:before, & ~ #{$sel}.latest-spec:not(.noprefix) a:before {
      content: "C++14";
    }
  }
  #{$sel}[data-cpp-version="17"] {
    & a:before, & ~ #{$sel}.latest-spec:not(.noprefix) a:before {
      content: "C++17";
    }
  }
  #{$sel}[data-cpp-version="20"] {
    & a:before, & ~ #{$sel}.latest-spec:not(.noprefix) a:before {
      content: "C++20";
    }
  }
}

@mixin cr-badge-auto($sel: "li.badge") {
  @include cr-badge-root;

  > #{$sel} {
    @include cr-badge;
  }

  @include cr-badge-decoration($sel);
}

