@import './font-awesome.scss';
@import './fa-patch.scss';
@import './badge.scss';
@import './index.scss';


$theme-color: #306E82;

$cs-bg-result: #FDFDFD;
$cs-bd-result: $theme-color;
$cs-bg-result-hover: rgb(240, 246, 255);

$control-border: 1px;

$cr-meta-bg: #F0F0F0;
$cr-input-height: 2.2em;

$cl-link: #428bca;
$cl-link-hover: #2a6496;

.crsearch {
  position: relative;
  display: flex;
  flex-direction: column;
  height: $cr-input-height;

  a {
    outline: none;

    &:link, &:active, &:visited {
      color: $cl-link;
    }

    &:hover {
      color: $cl-link-hover;
      text-decoration: none;
    }

    &:not([href]) {
      color: lighten(desaturate($cl-link, 40%), 15%);
    }
  }

  &:not(.loaded) {
    background-color: rgba(40, 110, 200, 0.05);
    cursor: wait;
    overflow: hidden;

    > .loading-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -0.5em 0 0 -1em;
      animation: fa-spin .5s infinite linear;
      font-size: 1.2em;

      color: rgba(40, 140, 190, 0.9);

      @include fa-patch;
      @extend .fa-refresh;
    }

    > .control, > .result-wrapper {
      opacity: 0;
    }
  }

  > .control, > .result-wrapper {
    opacity: 1;
  }

  > .control {
    position: relative;
    border: $control-border solid #eba487;
    border-radius: 4px;
    overflow: hidden;

    > input.input {
      width: 100%;
      box-sizing: border-box;
      padding: $control-border 2.8em $control-border .4em;
      border: none;
      height: $cr-input-height;

      line-height: $cr-input-height;

      &:focus {
        outline: none;
      }
    }

    > .search {
      position: absolute;
      top: 0;
      right: 0;
      border-left: 1px dotted #DDD;
      padding: 0 .7em;
      background: #FFF;
      color: $theme-color;
      cursor: pointer;
      box-sizing: content-box;

      line-height: $cr-input-height;

      &:link, &:hover, &:focus {
        text-decoration: none;
      }
    }
  } // .control

  > .result-wrapper {
    position: absolute;
    padding: 0;
    margin: 2px 0 0 0;
    border: 2px solid lighten($cs-bd-result, 20%);
    border-radius: 3px;

    min-width: 100%;
    max-width: 120%;
    overflow: hidden;

    @media (max-width: 768px) {
      max-width: 80vw;
    }

    z-index: 2;
    background: $cs-bg-result;
    min-height: 2em;
    top: 100%;
    right: 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    display: none;

    &.visible {
      display: block;
    }

    ul {
      list-style: none;
      font-family: monospace;
      margin: 0;
      padding: 0;
    }

    > .help-content {
      display: none;
      padding: 1em .5em .5em .5em;

      > .message {
        color: darken($theme-color, 10%);
        font-style: oblique;
        font-family: serif;
        line-height: 1.5;

        &:not(:empty) {
          padding: .25em .5em;
          margin-bottom: 1em;
          border-left: 4px solid lighten($theme-color, 40%);
        }
      }

      > ul {
        > li {
          margin: 0;
          padding: 0;

          &:not(:last-child) {
            margin-bottom: 1em;
          }

          h3 {
            padding: 0;
            margin: 0;
            font-size: 1.05em;
            font-weight: bold;
            font-style: oblique;
            font-family: sans-serif;
            color: #444;
          }

          .query {
            margin: .3em 0 0 .75em;
            font-size: 1.05em;
            color: #6A6A6A;

            .input:before {
              content: "[input]";
              font-style: oblique;
              font-family: serif;
              font-weight: bold;
            }
          }
        }
      }
    }

    &.help > .help-content {
      display: block;
    }

    .crsearch-info {
      font-family: monospace;
      font-style: oblique;
      font-weight: normal;
      font-size: 0.6em;
      text-align: right;
      background: $cr-meta-bg;
      margin: 0;
      padding: .2em .4em .25em .4em;

      a {
        color: #888;
        text-decoration: none;
      }
    }

    ul.results {
      display: flex;
      flex-direction: column;

      cursor: pointer;
      list-style: none;
      font-family: monospace;
    }

    ul.results > li.result {
      &:focus {
        outline: none;
      }

      border-bottom: 1px solid rgba(80, 80, 80, 0.2);

      box-sizing: border-box;

      > a {
        display: flex;
      }

      .content > .cr-index {
        @include cr-index {
          > .title > ul.badges {
            @include cr-badge-auto(".badge");
          }
        }
      }
    }

    ul.results > li.result.cr-meta-result {
      &.cr-result-header, &.in-header {
        cursor: default;
        display: flex;
        padding: .2em .4em;

        width: 100%;
        box-sizing: border-box;
      }

      &.cr-result-header {
        align-content: center;
        align-items: center;

        .db-name, .extra {
          display: inline-block;
        }

        .db-name {
          margin: 0;
          padding: 0;
          font-size: .9em;
          font-weight: bold;
          text-decoration: none;
        }
        .extra {
          display: inline-flex;
          align-items: center;
          font-size: .8em;
          color: #444;
          margin-right: auto;
          width: 80%;

          .message {
            display: inline-flex;
            width: 100%;

            .pre {
              white-space: nowrap;
            }

            .match-count, .query {
              font-family: monospace;
              font-weight: bold;
            }

            .match-count {
              padding: 0 .5em;
            }

            .query {
              margin: 0 0 0 .5em;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;

              &:before, &:after {
                content: "'";
                display: inline-block;
              }
            }
          }
        }
      } // .cr-result-header

      &.in-header {
        background: $cr-meta-bg;
        justify-content: flex-end;
        border-bottom: 1px dashed #DEDEDE;

        > div, > a {
          font-size: .75em;
        }

        a {
          text-decoration: none;
          font-family: monospace;
        }
      }
    }

    ul.results > li.result:not(.cr-meta-result) {
      > a {
        display: flex;
        align-items: center;

        padding: .4em;
        line-height: 1.4;
        font-family: monospace;
        text-decoration: none;

        &.focus {
          $color: rgba(80, 80, 240, 0.4);
          background: lighten($color, 30%);
          // outline: 2px solid $color;
          outline: none;
        }

        &:hover, &.hover {
          background-color: $cs-bg-result-hover;
          text-decoration: none;
        }

        > .content {
          display: inline-block;
          flex: 1;
          font-size: 1em;
        }
      } // a

      &.fallback {
        border-top: 1px solid rgba(40, 120, 40, 0.2);

        > a:before {
          flex-basis: 5em;
          text-align: center;

          content: 'Google';
          color: #7799DD;
          // font-size: .9em;
          margin-top: 0;
          background: none;
          font-weight: bold;
          font-family: sans-serif;
        }

        .content {
          display: inline-flex;
          flex-wrap: wrap;
          align-items: baseline;
          overflow: hidden;

          .query {
            font-size: .9em;
            font-style: oblique;

            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          .fallback-site {
            display: inline-block;

            &:before {
              content: 'site:';
              display: inline-block;
              padding: 0 .1em 0 0;
            }

            font-size: .9em;
            margin: 0 0 0 .2em;
            padding: .05em .25em;
            color: #444;
            background: #DDD;
          }
        }
      }
    } // .result
  } // .result-wrapper
} // .crsearch

