@mixin fa-patch($fw: true) {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @if ($fw) {
    width: 1.28571em;
    text-align: center;
  }
}

