{
  "presets": [
    ["env", {
      "modules": false
    }]
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-assign",
    "transform-function-bind",
    "transform-class-properties",
    "transform-async-to-generator"
  ]
}

