<!DOCTYPE html>
<html>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <head>
    <title>{{ htmlWebpackPlugin.options.title }}</title>
  </head>
  <body>
    <aside>
      <p>
        sidebar asfjsaiofsiafjsaipojfpsiajfpsagasgskaogjasdpoajspogjaspogjpoasjgspaoijgpioasjgpoisajpgaso
      </p>
    </aside>
    <main>
      <header>
        <div class="crsearch"></div>
      </header>
      <article>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse blandit tellus vitae odio lobortis, eu pretium nisi finibus. Vestibulum vestibulum facilisis dictum. Morbi justo mi, vestibulum et lectus ullamcorper, fermentum blandit nunc. Suspendisse ullamcorper varius vestibulum. Proin commodo est at neque pharetra ultricies. Phasellus condimentum molestie justo vel fermentum. Nunc pellentesque dignissim pellentesque. Nunc sed lorem quis justo pellentesque porttitor at sit amet purus. Nullam risus mi, finibus vitae accumsan non, maximus ac odio. Curabitur suscipit sapien luctus lectus consequat, eu interdum neque accumsan.

        Integer sit amet ex eget neque tincidunt imperdiet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam consectetur odio quis mi hendrerit pulvinar. Sed rhoncus tortor enim, id auctor erat posuere placerat. Morbi accumsan quam eu tempor tincidunt. Nam quis sem eu nisi volutpat luctus. Duis ut sapien eget felis sodales condimentum. Nunc eu imperdiet nunc. Duis lacinia diam tortor, in pharetra metus malesuada eget. Sed in faucibus urna. Curabitur varius congue nibh et consequat.

        Donec ultricies auctor tellus, vitae fermentum dolor ornare eu. Nullam vestibulum elit felis, at laoreet felis interdum id. Integer faucibus massa id ex sagittis, in interdum nisl eleifend. Mauris sed suscipit lacus, ac suscipit felis. Maecenas sed tempus purus. Pellentesque non eros odio. Ut porta dui in erat hendrerit tempus. Nulla lobortis, libero at tincidunt accumsan, velit neque convallis nulla, non varius tortor risus sed quam. Nam sed risus vitae quam pharetra tempus vitae at quam. Quisque laoreet lectus a molestie euismod. Aliquam maximus diam eu molestie iaculis. Nam elit magna, interdum et urna vel, aliquet vulputate arcu. Curabitur accumsan condimentum leo eu sagittis. Nunc dapibus, quam id cursus pellentesque, diam risus ullamcorper lorem, ac placerat odio odio sed mi.

        Nam non facilisis nisl. Proin pharetra lectus ligula, eget volutpat tellus porttitor non. Sed facilisis auctor felis, at finibus quam molestie vitae. Sed ullamcorper, augue sit amet semper volutpat, tortor purus iaculis odio, non rutrum mi leo id ante. Aenean auctor accumsan maximus. In vehicula nunc varius magna cursus luctus. Nunc eget ante fermentum turpis ullamcorper tempus ac id velit. Vivamus laoreet, turpis nec finibus laoreet, ligula arcu porttitor ante, at sagittis lorem enim ut nibh. Vivamus malesuada tortor dapibus, dapibus leo in, venenatis nunc. Aliquam vestibulum faucibus nibh, a rhoncus justo fringilla vel. Morbi vel nibh molestie ligula commodo hendrerit.

        Curabitur viverra dictum vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut eu elit vitae purus vehicula accumsan sed aliquam metus. Aliquam finibus porttitor odio, in pretium lacus dictum scelerisque. Mauris tincidunt neque ac facilisis condimentum. Vestibulum hendrerit dolor est. Cras arcu diam, pretium vitae commodo eget, hendrerit in arcu. Proin tempor, quam at vestibulum posuere, urna neque pretium nisi, id imperdiet mauris lorem at tellus. Proin in tempus dolor. Quisque posuere felis in augue accumsan rhoncus. Curabitur mollis aliquet metus eu mollis. Nullam auctor, leo eget gravida volutpat, est nulla vehicula dolor, sed faucibus sem mauris quis nibh. Morbi nulla magna, consequat eu velit a, ornare venenatis leo. Curabitur at ullamcorper quam. Duis placerat finibus sapien id ultrices.
      </article>
    </main>
  </body>
</html>

