@import 'clearfix';

$google-logo: 'https://www.google.com/cse/static/images/1x/googlelogo_lightgrey_46x16dp.png';

$theme-color: #306E82;

$cs-bg-result: #FDFDFD;
$cs-bd-result: $theme-color;
$cs-bg-result-hover: rgb(240, 246, 255);
$cs-bd-result-sep: #AAA;

$cs-fg-badge: #EEE;

$control-font-size: 1.2em;
$control-border: 2px;
$search-input-height: 1.8em;


.crsearch {
  position: relative;
  display: inline-block;

  > .control {
    position: relative;
    @extend .clearfix;

    > .input {
      min-width: 300px;
      padding: 0 2.4em 0 .4em;
      border: $control-border solid #DDD;

      font-size: $control-font-size;
      line-height: $search-input-height;
    }

    > .search {
      position: absolute;
      top: $control-border;
      right: $control-border;
      border-left: 1px dotted #DDD;
      padding: 0 .5em;
      background: #FFF;
      color: $theme-color;
      cursor: pointer;

      font-size: $control-font-size;
      line-height: $search-input-height;
    }
  } // .control

  > .result-wrapper {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 2px solid lighten($cs-bd-result, 20%);
    border-radius: 3px;
    min-width: 340px;
    z-index: 9999;
    background: $cs-bg-result;
    min-height: 2em;
    left: 0;
    max-height: 300px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

    display: none;

    &.visible {
      display: block;
    }

    ul {
      list-style: none;
      font-family: monospace;
      margin: 0;
      padding: 0;
    }

    > .help-content {
      display: none;
      padding: 1em .5em 0 .5em;

      > .message {
        color: darken($theme-color, 10%);
        font-style: oblique;
        font-family: serif;
        line-height: 1.5em;

        &:not(:empty) {
          padding: .25em .5em;
          margin-bottom: 1em;
          border-left: 4px solid lighten($theme-color, 40%);
        }
      }

      > ul {
        > li {
          margin: 0;
          padding: 0;

          &:not(:last-child) {
            margin-bottom: 1em;
          }

          h3 {
            padding: 0;
            margin: 0;
            font-size: 1em;
            font-weight: bold;
            font-style: oblique;
            font-family: sans-serif;
            color: #444;
          }

          .query {
            margin: .3em 0 0 .75em;
            font-size: 1em;
            color: #6A6A6A;

            .input:before {
              content: "[input]";
              font-style: oblique;
              font-family: serif;
              font-weight: bold;
            }
          }
        }
      }
    }

    &.help > .help-content {
      display: block;
    }

    .crsearch-info {
      font-family: monospace;
      font-style: oblique;
      font-weight: normal;
      text-decoration: none;
      font-size: 0.6em;
      text-align: right;
      color: #AAA;
      margin: .2em .8em .25em 0;
    }

    > .results {
      cursor: pointer;
      vertical-align: top;
      display: block;
      list-style: none;
      font-family: monospace;
    }

    > .results > .result {
      &:not(:last-child) {
        border-bottom: 1px solid $cs-bd-result-sep;
      }

      > a {
        display: block;
        padding: .4em;
        font-family: monospace;

        &:hover, &.hover {
          background-color: $cs-bg-result-hover;
          text-decoration: none;
        }

        &:before {
          content: '';
          display: inline-block;
          width: 52px;
          font-family: sans-serif;
          font-size: .8em;
          color: $cs-fg-badge;
          text-align: center;
          margin-right: 1em;
        }

        > .content {
          font-family: sans-serif;
          font-size: 1em;
        }
      } // a

      &.google-fallback {
        > a:before {
          content: 'Google';
          color: #99BBDD;
          font-weight: bold;
          font-size: 1em;
          font-family: sans-serif;
        }
      }

      &.std-class {
        > a:before {
          content: 'class';
          background: #44A;
        }
      }

      &.std-header {
        > a:before {
          content: 'header';
          background: #4A4;
        }
      }

      &.std-spec {
        > a > .content {
          font-family: serif;
          font-size: .8em;
          text-decoration: underline;
        }

        > a:before {
          content: 'spec';
          background: #222;
          font-family: sans-serif;
        }
      }
    } // .result
  } // .result-wrapper
} // .crsearch

